<div class="bg-orange">
    <div class="w3-sidebar w3-bar-block" style="width:10%">
        
        <a href="#" class="w3-bar-item w3-button">Favourite</a>
        <a href="#" class="w3-bar-item w3-button">Product</a>
        <a href="#" class="w3-bar-item w3-button">Your Order</a>
    </div>
</div>
@*<nav id="sidebar">
    <a href="#" class="w3-bar-item w3-button">Favourite</a>
    <a href="#" class="w3-bar-item w3-button">Product</a>
    <a href="#" class="w3-bar-item w3-button">Your Order</a>
</nav>*@